html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  color: #f39100;
  outline: 0; }
a:not([class]):hover {
    color: #f39100;
}
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none;
  -moz-outline-style: none; }

:-moz-any-link:focus {
  outline: 1px dotted invert; }

:-moz-any-link:focus {
  outline: none; }

textarea, input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  text-decoration: none; }
  // a:not([class]) {
  //   color: #058ACD; }
  //   a:not([class]):hover {
  //     color: #056493; }

body {
  margin: 0;
  height: 100%;
  background: #E5E5E5;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  font-family: Arial, sans-serif;
  overflow-x: hidden; 
  color: #000; }
  body.fixed {
    position: fixed;
    overflow: hidden;
    width: 100%; }

textarea, input {
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

::-webkit-input-placeholder {
  color: #747473;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

::-moz-placeholder {
  color: #747473;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:-moz-placeholder {
  color: #747473;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:-ms-input-placeholder {
  color: #747473;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

:focus::-webkit-input-placeholder {
  color: transparent; }

:focus::-moz-placeholder {
  color: transparent; }

:focus:-moz-placeholder {
  color: transparent; }

:focus:-ms-input-placeholder {
  color: transparent; }

.page-header {
  background: #fff;
  margin-bottom: 26px;
  position: relative;
  z-index: 7; }

.page-header__wrap {
  overflow: hidden;
  padding: 3px 0; }

.top-logo {
  float: left; }
  .top-logo img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%; }

.top-nav {
  float: right;
  overflow: hidden;
  margin-top: 18px; }

.top-nav__item {
  float: left;
  margin-right: 27px;
  color: #000;
  text-decoration: none; }
  .top-nav__item:last-child {
    margin-right: 0; }

.top-nav__phone {
  color: #000;
  text-decoration: none; }

.menu-btn {
  display: none;
  float: left;
  margin-right: 45px;
  margin-top: 18px; }
  .menu-btn.active .burger-icon {
    background-color: transparent; }
    .menu-btn.active .burger-icon:before {
      -webkit-transform: translateY(8px) rotate(45deg);
          -ms-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg); }
    .menu-btn.active .burger-icon:after {
      -webkit-transform: translateY(-8px) rotate(-45deg);
          -ms-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg); }

.burger-icon {
  display: block;
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 30px;
  height: 3px;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .burger-icon:before, .burger-icon:after {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    content: ""; }
  .burger-icon:before {
    top: -8px; }
  .burger-icon:after {
    top: 8px; }

.workarea {
    line-height: 1.3;
    input[type="submit"]{
        font-size: 15px;
        background: #87BC26;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
            padding: 7px 34px;
        font-weight: bold;
        color: #fff;
        border: 0;
        display: block;
        transition:background 0.3s ease;
        &:hover{
            background: #F39100; 
            color: #fff;
        }
    }

    select {
        background: rgba(51, 51, 51, 0.06);
        border-radius: 4px 4px 0px 0px;
        border: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.38);
        width: 100%;
        padding: 2px 8px;
    }
    input[type="checkbox"]:not(:checked),
    input[type="checkbox"]:checked{
        position: absolute;
        left: -9999px;
    }
    input[type="checkbox"]:not(:checked) + label,
    input[type="checkbox"]:checked + label{
        position: relative;
        cursor: pointer;
        padding-left: 29px;
        line-height: 15px;
        display: block;
    }

    input[type="checkbox"]:not(:checked) + label:before,
    input[type="checkbox"]:checked + label:before{
        content: '';
        position: absolute;
            left: 3px;
        top: 1px;
        height: 15px;
        width: 15px;
        border: 1px solid #5C5C5C;
        border-radius: 2px;
        cursor: pointer;
        z-index: 5;
        background: #fff;
    }
    input[type="checkbox"]:checked+ label{
        font-weight: bold;
    }
    input[type="checkbox"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after {
        content: '';
        background: #000;
        width: 14px;
        height: 12px;
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 5px;
        z-index: 10;
        background: url(../img/content/check.png) center no-repeat;
    }
    input[type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }
    input[type="checkbox"]:checked + label:after {
        opacity: 1;
    }
    textarea{
        background: rgba(51, 51, 51, 0.06);
        border-radius: 4px 4px 0px 0px;
        border:0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.38); 
        width: 100%;
        padding: 5px 10px;
        display: block;
        color: #000;
        resize:vertical;
        // height: 55px;
    }
}
  .workarea h1 {
    margin: 0;
    margin-bottom: 20px;
    font-weight: normal; }
  .workarea h2 {
    margin: 0;
    margin-bottom: 18px;
    font-weight: normal; }
  .workarea h3 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: normal; }
  .workarea p {
    margin: 0;
    margin-bottom: 20px; }
  .workarea video {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block; }
  .workarea input[type="text"],
  .workarea input[type="email"],
  .workarea input[type="password"] {
    background: rgba(51, 51, 51, 0.06);
    border-radius: 4px 4px 0px 0px;
    border:0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38); 
    width: 100%;
        padding: 2px 10px;
    display: inline-block;
    vertical-align: middle;
    color: #000; }

.layout {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%; }

.wrapper {
  display: table-row;
  height: 100%; }

.container {
  max-width: 1366px;
  padding: 0 24px;
  position: relative;
  width: 100%;
  margin: 0 auto;
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.page-content {
    display: table-cell;
    height: 100%;
    padding-bottom: 30px;
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}
  .page-content .conteiner {
    padding-bottom: 10px;
    overflow: hidden; }

.page-search {
  margin-bottom: 24px; }

.page-search__form {
  background: #fff;
  // overflow: hidden;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  height: 48px;
  position: relative;
  border-radius: 2px; }

.page-search__submit {
  background: #87BC26;
  border-radius: 2px!important;
  font-size: 22px;
  font-weight: bold;
  border: 0;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 16px;
    transition:background 0.3s ease;
    &:hover{
        background: #F39100; 
        color: #fff;
    }
}

.page-search__input {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0 180px 0 50px; }

.page-search__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 16px;
  top: 12px;
  background: url(../img/content/search.png) center no-repeat; }

.page-search__toggle {
  display: block;
  background: #d0e4a8 url(../img/content/s-toggle.png) center no-repeat;
  background-position: center;
  width: 58px;
  height: 100%;
  position: absolute;
  right: 96px;
  top: 0; }

.content-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 100%;
  margin-bottom: 24px;
  overflow: hidden;
  display: block; }

.col-left {
  width: 311px;
  float: left; }

.col-right {
  width: 311px;
  float: right; }

.col-center {
  overflow: hidden;
  padding: 0 24px 0; }

.btn {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  background: #87BC26;
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
  transition:background 0.3s ease;
  &:hover{
    background: #F39100; 
    color: #fff;
  }
}

.item {
  background: #fff;
  border-bottom: 1px solid #E0E0E0;
  padding: 9px 8px 8px 8px;
  display: block;
  color: #000;
  text-decoration: none; }
  .item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }
  .item:last-child {
    border-bottom: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

.item--title {
  padding: 6px 8px 2px 8px; }

.item__title {
  display: block;
  color: #F39100;
  font-size: 22px; }

.item__title--link {
  position: relative;
  padding-right: 30px; }
  .item__title--link:after {
    content: "";
    display: block;
    width: 13px;
    height: 20px;
    background: url(../img/content/arrow-o.png) center no-repeat;
    position: absolute;
    right: 6px;
    top: 3px; }

.item--courses {
  padding: 0; }

.courses {
  overflow: hidden; }

.courses__item {
  width: 33.333%;
  float: left;
  border-right: 1px solid #E0E0E0;
  font-weight: bold;
  padding: 9px 8px 8px 8px;
  overflow: hidden; }
  .courses__item:last-child {
    border-right: 0; }

.courses__icon {
  display: block;
  width: 10px;
  height: 18px;
  float: left;
  margin: 0px 4px 0 0;
  vertical-align: middle;
  line-height: 18px;
  text-align: center; }
  .courses__icon img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    max-height: 100%; }

.item--justify {
  overflow: hidden; }

.item__txt {
  float: left; }

.item__indicator {
  float: right;
  font-weight: bold;
  max-width: 70px; }

.content-item--banner {
  overflow: hidden;
  position: relative;
  height: 152px;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: right;
  padding: 3px; 
  color: #fff;
    &:hover{
        color: #fff;
    }
}

.banner-img{
    float: left;
    width: 50%;
    height: 100%;
    img{
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }
}
.banner-txt{
    float: left;
    width: 50%;
    height: 100%;
    font-weight: bold;
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
}
.banner__date{
    display: block;
    font-size: 22px;
    margin-bottom: 5px;
}

.content-item--green{
    background: #87BC26;
}
.content-item--orange{
    background: #f59e20;
}
.banner-shadow {
  position: absolute;
  right: 0;
  top: 0;
  background: url(../img/content/b-sh.png) no-repeat;
  width: 199px;
  height: 152px; }

// .banner-txt {
//   position: absolute;
//   right: 0;
//   top: 0;
//   width: 199px;
//   z-index: 2;
//   padding: 10px 8px;
//   font-weight: bold;
//   line-height: 17px; }
//   .banner-txt span {
//     display: block;
//     font-weight: normal;
//     margin-bottom: 10px; }

.content-item--half {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-right: -24px;
  overflow: hidden; }
  .content-item--half .content-item {
    margin-bottom: 0; }

.half-inner {
  padding-right: 12px;
  width: 50%;
  float: left; }
  .half-inner:last-child {
    padding-right: 0;
    padding-left: 12px; }

.item--half {
  padding: 0;
  overflow: hidden; }

.half {
  width: 50%;
  float: left;
  border-right: 1px solid #E0E0E0;
  font-weight: bold;
  padding: 9px 8px 8px 8px;
  background: #fff;
  color: #000;
  text-decoration: none;
  font-weight: normal; }
  .half:last-child {
    border-right: 0; }

.question {
  padding-top: 7px;
  padding-bottom: 4px;
  display: block;
  color: #000;
  text-decoration: none; }

.question__person {
    padding-top: 10px;
  margin-bottom: 6px; }

.question__date {
  position: relative;
  padding-right: 30px; }
  .question__date:after {
    content: "";
    display: block;
    width: 13px;
    height: 20px;
    background: url(../img/content/arrow-g.png) center no-repeat;
    position: absolute;
    right: 5px;
    top: -2px; }

.menu-mobile {
  position: fixed;
  z-index: 7;
  background-color: #fff;
  position: fixed;
  left: -300px;
  top: 60px;
  bottom: 0;
  height: -webkit-calc(100% - 62px);
  height: calc(100% - 62px);
  width: 300px;
  -webkit-transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 300ms cubic-bezier(0.77, 0, 0.175, 1); }
  .menu-mobile.active {
    left: 0; }

.menu-mobile__bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease; }
  .menu-mobile__bg.active {
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease; }

.menu-mobile__links {
  border-top: 1px solid #E0E0E0; }

.menu-mobile__link {
  display: block;
  padding: 9px 8px;
  border-bottom: 1px solid #E0E0E0;
  color: #000;
  text-decoration: none; }

.contact-center {
  padding: 8px;
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 2; }
  .contact-center a {
    color: #000;
    text-decoration: none; }

.item__count {
  float: right;
  width: 22px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  text-align: center;
  background: #F59E1F;
  border-radius: 50%; }

.page-footer {
  background: #fff;
  padding: 23px 0;
  font-size: 12px; }

.page-footer__wrap {
  overflow: hidden; }

.copyright {
  float: left;
  width: 311px;
  font-size: 12px;
  line-height: 1.415; }

.page-footer__contacts {
  float: right;
  overflow: hidden; }

.contacts-item {
  padding-right: 66px;
  float: left; }

.contacts-title {
  font-weight: bold;
  margin-bottom: 10px; }

.address {
  max-width: 238px; }
  .address a {
    text-decoration: none;
    display: block;
    color: #000;
    margin-top: 4px; }

.mail {
  text-decoration: none;
  display: block;
  color: #000;
  margin-bottom: 13px; }

.mail__icon {
  display: block;
  float: left;
  margin-right: 11px;
  width: 20px;
  height: 14px;
  background: url(../img/content/mail.png) center no-repeat; }

.socials {
  overflow: hidden; }

.socials__item {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 7px; }
  .socials__item:last-child {
    margin-right: 0; }
  .socials__item img {
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 100%; }

.page-footer__phones {
  margin-bottom: 10px;
  padding-left: 30px;
  background: url(../img/content/call.png) left center no-repeat; }
  .page-footer__phones span {
    display: block;
    margin-bottom: 3px; }

.time {
  padding-left: 31px;
  background: url(../img/content/time.png) left center no-repeat;
  padding-top: 3px;
  padding-bottom: 3px; }



.top-search{
  float: left;
  margin-left: 99px;
      margin-top: 18px;
  overflow: hidden;
}

.top-search__item{
  float: left;
  margin-right: 19px;
  color: #000;
  text-decoration: none;
  padding-left: 31px;
  background: url(../img/content/top-search.png) 6px center no-repeat;
}

.menu-mobile__links .top-search__item{
  float: none;
  margin-right: 0;
  display: block;
  padding: 9px 8px 9px 31px;
  border-bottom: 1px solid #E0E0E0;
  color: #000;
  text-decoration: none;
  background: url(../img/content/top-search.png) 5px center no-repeat;
}

.enter{
    height: 100%;
        max-width: 1318px;
    padding: 0 0 40px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}


.enter__in{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
    max-width: 702px;
    overflow: hidden;
    display: block;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%,-50%);
}

.enter__top{
    border-bottom: 1px solid #E0E0E0;
    padding: 4px 10px;
    // text-align: center;
    color: #F39100;
    font-size: 22px;
    margin-bottom: 2px;
}

.enter__form{
    padding: 0 0 24px;
    max-width: 180px;
    margin: 0 auto;
}

.enter__item{
    margin-bottom: 10px;
    position: relative;
    select{
      +input[type="text"],
      +input[type="email"],
      +input[type="password"]{
        margin-top: 10px;
      }
      +#area-hidden{
        input[type="text"],
        input[type="email"],
        input[type="password"]{
          margin-top: 10px;
        }
      }
    }
}
.enter__item--mobile-hight{
  textarea{
        height: 24px;
    padding: 2px 8px;
    resize: none;
  }
}

.enter__label{
    font-size: 15px;
    margin-bottom: 8px;
}

.enter__submit{
    text-align: center;
    margin-bottom: 15px;
    padding-top: 15px;
    input[type="submit"]{
        margin: 0 auto;
    }
}

.enter__buy{
    text-align: center;
    a{
        color: #87BC26;
    }
}



.page-aside{
    width: 311px;
    float: left;
}

.page-aside--document{
  position: sticky;
  top: 20px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden
}

.page-gen{
    overflow: hidden;
    padding: 0 0 0 24px;
    .item__title{
      overflow: hidden;
    }
}
.title-l{
  width: 120px;
    display: table-cell;
    vertical-align: middle;
}

.item--top{
    padding: 3px 8px;
    text-align: center;
    font-size: 22px;
}

.contents-link{
    color: #0026AC;
        display: block;
    text-decoration: underline;
    margin-bottom: 2px;
    line-height: 1.4;
}

.document{
  background: #fff;
  padding: 15px 7px 15px 80px;
  position: relative;
}

.document__item{
    position: relative;
    padding: 0 0 0 80px;
    margin-bottom: 40px;
        line-height: 1.2;
    &:last-child{
        margin-bottom: 0;
    }
    p{
        margin-bottom: 15px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
.document__top{
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.document__links{
    position: absolute;
    left: 0;
    top: -3px;
    overflow: hidden;
    a{
        float: left;
        width: 21px;
        height: 21px;
        margin-right: 4px;
        &:last-child{
            margin-right: 0;
        }
    }
}

.document__info{
    background: url(../img/content/info.png) center no-repeat;
}

.document__favorite{
    background: url(../img/content/favorite.png) center no-repeat;
}

.document__comment{
    background: url(../img/content/comment.png) center no-repeat;
}




.document-comments__item{
    margin-bottom: 12px;
    color: #000;
    display: block;
    padding-left: 30px;
    background: url(../img/content/attention.png) 0px -1px no-repeat;
    &:last-child{
        margin-bottom: 0;
    }
}
.document-comments__item--or{
    color: #F59E1F;
}


.document-form{
    margin-bottom: 9px;
    .enter__item {
        margin-bottom: 16px;
    }
}
.document-form-links{
    width: 100%;
    overflow: hidden;
    /* margin-right: -29px; */
    transform: translateX(24px);
    margin-bottom: 1px;
}
.document-form-links__item{
    float: left;
    width: 20%;
}

.document-form__submit{
    overflow: hidden;
    padding-bottom: 4px;
    input[type="submit"]{
        float: right;
    }
}

.select-wrap{
    padding-right: 115px;
    position: relative;
    input[type="submit"]{
        position: absolute;
        right: 0;
        top: -4px;
            padding: 7px 22px;
    }
}


.document__card{
    display: block;
    width: 13px;
    height: 19px;
    background: url(../img/content/card.png) center no-repeat;
}
.document__hide{
     display: block;
    width: 16px;
    height: 19px;
    background: url(../img/content/hide.png) center no-repeat;
}
.document__bookmark{
     display: block;
    width: 18px;
    height: 19px;
    background: url(../img/content/bookmark.png) center no-repeat;
}
.document__control{
     display: block;
    width: 15px;
    height: 19px;
    background: url(../img/content/control.png) center no-repeat;
}
.document__print{
     display: block;
    width: 17px;
    height: 19px;
    background: url(../img/content/print.png) center no-repeat;
}

.content-item__toggle{
    display: none;
    font-size: 22px;
    color: #D7830A;
    text-decoration: none;
    padding: 8px 60px;
    background: #F7F7F7;
    border-radius: 4px;
    border-left: 1px solid transparent;
    &.active{
        border-left: 1px solid #E5E5E5;
    }
}

.content-item{
    &.active{
        .item--filters{
            display: block;
        }
        .item--contents{
            display: block;
        }
    }
}

.filters-toggle-link{
    background: #F7F7F7 url(../img/content/filter.png) 33px 13px no-repeat;
    &.active{
        background: #fff url(../img/content/filter.png) 33px 13px no-repeat;
    }
}

.contents-toggle-link{
    background: #F7F7F7 url(../img/content/contents.png) 33px 11px no-repeat;   
    &.active{
        background: #fff url(../img/content/contents.png) 33px 11px no-repeat;
    }
}

.search{
    padding-bottom: 10px;
    .page-search__form{
        margin-bottom: 24px;
        z-index: 4;
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            background: #fff;
            border-bottom: 0;
            padding: 0 130px 0 50px;
        }
    }
    input[type="submit"]{
        font-size: 22px;
        padding: 0 16px;
        box-shadow:none;
    }
}

.search-list{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 30px;
}

.search-form{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-bottom: 30px;
    padding-bottom: 8px;
    background: #fff; 
    .enter__item{
        width: 180px;
        margin-bottom: 5px;
    }
    .enter__item--date{
        width: 225px;
        input[type="text"],
        input[type="email"],
        input[type="password"]{
            overflow: hidden;
            width: 200px;
        }
    }
    .enter__label {
        margin-bottom: 3px;
    }
}

.enter__item--date{
    overflow: hidden;
}

.enter__add{
    float: left;
    width: 20px;
    margin-right: 5px;
}

.search-list-result{
        margin: 0;
    margin-bottom: 18px;
    padding-left: 45px;
}

.search-list-result__link{
    color: #000;
    display: block;
    &:hover{
        color: #f39100;
    }
}
.search-list-result__add{
    font-weight: bold;
    padding-top: 7px;
}
.search-list-result__item{
    margin-bottom: 19px;
    padding-left: 10px;
    position: relative;
    &:before{
        content: "";
        display: block;
        width: 21px;
        height: 21px;
        background: url(../img/content/waiting.png) no-repeat;
        position: absolute;
            left: -45px;
        top: -2px;
    }
    &:last-child{
        margin-bottom: 0;
    }
}

.paging{
    overflow: hidden;
}

.paging__item{
    float: left;
    margin-right: 8px;
    color: #F59E1F;
    &.active{
        text-decoration: underline;
        font-weight: bold;
    }
    &:hover{
        text-decoration: underline;
    }
}
.paging__item--prev{
    width: 13px;
    height: 20px;
    background: url(../img/content/prev.png) no-repeat;
    margin-right: 13px;
}
.paging__item--next{
    width: 13px;
    height: 20px;
    background: url(../img/content/next.png) no-repeat;
    margin-left: 13px;
}


.search-form-check{
    margin-bottom: 40px;
}
.search-form-check__item{
    margin-bottom: 10px;
    &:last-child{
        margin-bottom: 0;
    }
}
.search-form-title{
    font-weight: bold;
    margin-bottom: 10px;
}
.check-wrap{
    margin-bottom: 6px;
    position: relative;
    z-index: 1;
}

.search-form-hint{
    color: #5C5C5C;
    font-size: 11px;
    padding-top: 6px;
}

.t-right{
    text-align: right;
}
.search-form-reset{
    color: #87BC26;
    font-weight: bold;
    &:hover{
        color: #f39100;
    }
}


.enter__item--find{
    position: relative;
    &:after{
        content: "";
        display: block;
        width: 50px;
        height: 21px;
        background: url(../img/content/arr.png) no-repeat;
        position: absolute;
        top: 0;
        right: 0; 
    }
}

.page-search{
    position: relative;
    select{
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background: #fff;
        z-index: 3;
            margin-top: -24px;
    }
}

.search-form-toggle{
    display: none;
}

.control{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
    background: #fff;
    padding-bottom: 30px;
    .item--title{
        &:after{
            content: "";
            display: table;
            clear: both;
        }
    }
}

.remove{
        float: right;
    width: auto;
    font-size: 15px;
    padding: 7px 25px;
    margin-top: -5px;
}

.remove__icon{
    display: none;
    width: 17px;
    height: 22px;
    background: url(../img/content/remove.png) no-repeat;
}

.control__links{
     padding-top: 6px;
    padding-left: 30px;
    overflow: hidden;
    margin-bottom: 27px;
    a{
        color: #87BC26;
        font-weight: bold;
        padding-right: 20px;
        &:last-child{
            padding-right: 0;
        }
    }
}
.control__item{
    margin-bottom: 21px;
    &:last-child{
        margin-bottom: 0;
    }
    strong+.control__add{
        padding-top: 20px;
    }
}

.control__add{
    margin-bottom: 10px;
    display: block;
}

.control__date{
    padding-right: 10px;
}
.add-remind{
    overflow: hidden;
    color: #87BC26;
    font-size: 15px;
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.add-remind__icon{
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    float: left;
    background: url(../img/content/plus.png) no-repeat;
}
.add-remind__txt{

}

.t-center{
    text-align: center;
}

.add-form{
    padding: 6px 8px 24px;
}
.add-submit{
    padding-top: 4px;
    input[type="submit"]{
        display: inline;
        padding: 7px 21px;
    }
}

.add-item {
    margin-bottom: 20px;
}
.add-item--date{
    max-width: 180px;
}

.add-label {
    margin-bottom: 6px;
}

.cabinet-top{
    text-align: right;
    margin-bottom: 24px;
    input[type="submit"]{
        display: inline;
        width: auto;
    }
}

.cabinet-item{
    margin-bottom: 23px;
    // &:last-child{
    //     margin-bottom: 0;
    // }
    .check-wrap{
        margin-bottom: 0;
    }
}

.cabinet-add{
    /* padding-left: 10px; */
    font-size: 11px;
    color: #5C5C5C;
    display: inline-block;
    /* overflow: hidden; */
    display: table-cell;
    vertical-align: middle;
}


.page-aside--cabinet{
    width: 405px;
    .item__title{
        &:after{
            content: "";
            display: table;
            clear: both;
        }
    }
}

.payer-link{
    float: right;
    text-decoration: underline;
    font-size: 11px;
    color: #D7830A;
    margin-top: 5px;
    &:hover{
        text-decoration: none;
    }
}
.cabinet-conditions{
    padding-top: 30px;
    position: relative;
    a{
        text-decoration: underline;
        color: #D7830A;
        &:hover{
            text-decoration: none;
        }
    }
}

.cabinet-save-mobile{
    display: none;
}

.necessary{
    color: red;
    font-size: 100%;
    top: 0px;
    padding-left: 3px;
}

.enter__item--double{
    margin-right: -29px;
    margin-bottom: 15px;
    &:after{
        content: "";
        display: table;
        clear: both;
    }
}

.enter__half{
    width: 50%;
    padding-right: 29px;
    float: left;
    position: relative;
}

.enter__note{
    color: #5C5C5C;
    font-size: 11px;
    position: absolute;
    bottom: -13px;
    left: 0;
}

.enter__error{
  color: red;
    font-size: 11px;
    position: absolute;
    bottom: -13px;
    left: 0;
}

.cabinet-forms{
    .enter__item {
        margin-bottom: 15px;
    }
}

.save,
.question-link{
        float: right;
    width: auto;
    font-size: 15px;
    padding: 7px 25px;
    margin-top: -5px;
}

.question-item{
    margin-bottom: 15px;
}

.question-top{
    margin-bottom: 5px;
}
.question-date{
    font-weight: bold;
}
.question-time{
    font-weight: bold;
    padding-left: 1px;
}

.question-person{
    font-weight: bold;
    padding-left: 10px;
}

.question-rating{
    padding-left: 13px;
    font-style: italic;
        color: #828282;
    span{
        padding-left: 1px;
    }
}

.question-wrap{
    margin-bottom: 80px;
}

.question-list{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   .question-item{
        &:first-child{
            .question-person{
                padding-left: 30px;
                    background: url(../img/content/star.png) 12px 1px no-repeat;
            }
        }
    }
}

.question-txt{
    // background: url(../img/content/comment.png) 0px 0px no-repeat;
    // padding-left: 30px;
    display: table;
    color: #000;
    &:visited{
      color: #4D4D4D;
    }
}

.question-icon{
        padding-right: 8px;
    display: table-cell;
        position: relative;
    top: 7px;
}

.question-item__links{
    padding-top: 10px;
    overflow: hidden;
}

.quote{
    font-weight: bold;
    color: #87BC26;
    &:hover{
            color: #f39100;
    }
}

.good{
    display: block;
    width: 21px;
    height: 21px;
    background: url(../img/content/good.png) no-repeat;
    margin-right: 32px;
    float: left;
    +.quote{
        padding-top: 3px;
    }
}

.t-wrap{
    padding-top: 20px;
    
    margin-bottom: 14px;
    .btn{
        float: right;
        width: auto;
        padding: 7px 15px;
    }
}

.b-links{
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 13px;
}

.b-links__send{
    float: left;
    text-decoration: underline;
    color: #D7830A;
    margin-top: 19px;
    &:hover{
        text-decoration: none;
    }
}

.logged-in{
    text-align: center;
        padding: 20px 10px;
    .btn{
        width: auto;
        padding: 3px 5px;
        max-width: 210px;
        margin: 0 auto;
    }
}

.logged-in__top{
    font-size: 22px;
    margin-bottom: 20px;
}

.comments-top{
  display: block;
  color: #D7830A;
  padding-right: 30px;
  padding-bottom: 5px;
  background: url(../img/content/arrow-o.png) 99.5% 1px no-repeat;
}

.t-wrap--comments{
  position: relative;
  input[type="submit"]{
    padding: 7px 16px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .b-links{
    padding: 0;
  }
}

.t-wrap__textarea{
  padding-right: 130px;
}

.default {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
    background: #fff;
    padding-bottom: 30px;
}

.default__link{
    display: block;
    margin-bottom: 15px;
    color: #F59E1F;
}
.notification-save-mobile{
  text-align: right;
  display: none;
  input[type="submit"]{
    display: inline-block;
    width: auto;
  }
}
#area-hidden{
  display: none;
  // &.show{
  //   display: block!important;
  // }
}

.question-item{
  textarea{
    height: 55px;
  }
}

.sticky-sidebar__inner{
  width: 311px!important;
}

@import "components/media";