@media screen and (max-height: 600px){
  .enter__in {
      position: static;
      transform: none;
      margin: 0 auto;
  }
}


@media screen and (max-width: 1200px) {
  .half-inner {
    padding-right: 0;
    width: 100%;
    float: none;
    margin-bottom: 24px; }
  .half-inner:last-child {
    padding-right: 0;
    padding-left: 0; }
  .content-item--half {
    margin-right: 0;
    margin-bottom: 0; }
  .contacts-item {
    padding-right: 30px; }
    .contacts-item:last-child {
      padding-right: 0; } }

@media screen and (max-width: 1100px) {
  .top-nav__item {
    margin-right: 8px; }
    .top-nav__item:last-child {
      margin-right: 0; }
  body {
    font-size: 13px; }
  .courses__icon {
    line-height: 13px; }
  .copyright {
    width: 50%;
    padding-right: 100px; }
  .page-footer__contacts {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contacts-item--mail {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    padding-top: 20px; } }

@media screen and (max-width: 1023px) {
  body {
    font-size: 15px; }
  // .page-content .container {
  //   margin-right: -24px;
  //   padding-left: 0; }
  .top-nav__item--desktop {
    display: none; }
  .col-left {
    width: 50%;
    padding-right: 24px; }
  .col-right {
    width: 50%;
    float: left;
    padding-right: 0; }
  .col-center {
    padding: 0;
    width: 100%;
    float: none;
    clear: both;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .col-center .content-item {
      width: -webkit-calc(50% - 24px);
      width: calc(50% - 24px);
      float: none;
      margin-right: 24px;
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
    .col-center .content-item--half {
      -webkit-box-ordinal-group: 1;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0;
      width: 100%;
      margin-right: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    .col-center .half-inner {
      width: 50%;
      padding-right: 24px; }
      .col-center .half-inner .content-item--banner {
        width: 100%; }
  .menu-btn {
    display: block; }
  .courses__icon {
    line-height: 18px; }
  .top-search{
    display: none;
  }
  .page-gen {
        padding: 0 0px 0 24px;}
    .top-logo{
      float: none;
      position: absolute;
      left: 50%;
      margin-left: -103px;
      top: 3px;
    }
    .page-header{
      height: 60px;
    }
  }

@media screen and (max-width: 900px) {
  .copyright {
    width: 40%;
    padding-right: 20px; }
  .page-footer__contacts {
    width: 60%; } }


@media screen and (max-width: 800px){
  .question-item textarea{
    height: 85px;
  }
  .b-links__send {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  
  .col-left,
  .col-right,
  .col-center .content-item,
  .col-center .half-inner {
    width: 100%;
    float: none;
    padding-right: 0; }
  .col-center {
    padding-right: 0; }
  .page-content .container {
    margin-right: 0;
    padding-left: 24px; }
  .col-center .content-item {
    margin-right: 0; }

  .enter__in {
    max-width: 100%;
    position: static;
    transform: none;
    margin: 0 auto;
  }
  .enter {
      padding: 0 15px;
      margin-bottom: 30px;
  }
  .page-aside {
    width: 100%;
    float: none;
  }
  .page-gen {
    padding: 0;
  }
  .content-item__toggle{
    display: block;
    float: left;
  }
  .item--top{
    display: none;
  }
  
  .item--filters{
    position: absolute;
    left: 0;
    top: 100%;
    //display: block;
    display: none;
    background: #fff;
    z-index: 3;
    width: 311px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #E5E5E5;
  }
  .item--contents{
    position: absolute;
    left: 50%;
    top: 100%;
    //display: block;
    display: none;
    background: #fff;
    z-index: 3;
    width: 311px;
    border-radius: 4px;
    transform: translateX(-50%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #E5E5E5;
  }
  .page-aside{
    background: #F7F7F7;
    margin-bottom: 24px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &:after{
      content: "";
      display: table;
      clear: both;
    }
    .content-item{
      position: relative;
      box-shadow:none;
      border-radius: 0;
      margin-bottom: 0;
      float: left;
      width: auto;
      overflow: visible;
    }
  }
  .page-aside--lg{
    display: none;
  }
  .search-form{
    margin-bottom: 0;
    box-shadow:none;
  }
  .page-aside--filter{
    display: none;
    width: 343px;
    position: absolute;
    z-index: 5;
    margin-top: 48px;
    right: 121px;
    top: 0;
    &.active{
      display: block;
    }
  }
  .search-form-toggle{
    display: block;
  }
    .t-wrap--comments .b-links {
        padding-bottom: 10px;
        padding-top: 13px;
    }
    .t-wrap--comments input[type="submit"]{
        position: static;
    }
    .t-wrap__textarea {
        padding-right: 0;
    }
    .search .page-search__form input[type="text"],
    .search .page-search__form input[type="email"],
    .search .page-search__form input[type="password"] {
      padding: 0 180px 0 50px;
    }
    .cabinet-save-mobile{
      display: block;
      position: absolute;
      right: 0;
      top: 20px;
    }
    .cabinet-conditions{
      padding: 30px 166px 20px 0;
    }
    .cabinet-top{
      display: none;
    }
    .page-gen{
      .cabinet-save-mobile{
        position: static;
        text-align: right;
        input[type="submit"]{
          display: inline-block;
          width: auto;
        }
      }
    }
    .cabinet-form__items{
      max-width: 388px;
    }
}

@media screen and (max-width: 767px){
  .page-footer__wrap {
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .copyright {
    width: 100%;
    padding-right: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2; }
  .page-footer__contacts {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 20px; }
  .contacts-item {
    width: 60%; }
  .contacts-item--mail {
    width: 100%;
    padding-right: 0; }
  .contacts-item--address {
    width: 40%;
    padding-left: 10px; }
}


@media screen and (max-width: 600px) {
  body{
    background: #fff;
  }
  .question-item textarea{
    height: 156px;
  }
  .layout--index{
    background: #E5E5E5;
    .page-header{
      margin-bottom: 26px;
      border-bottom: 0;
    }
    .page-footer{
      border-top: 0;
    }
  }
  .enter{
        padding: 26px 0 0;
    margin-bottom: 0;
  }
  .enter__in{
    box-shadow:none;
  }
  .enter__top{
    margin-bottom: 15px;
  }
  .page-header{
    margin-bottom: 0;
    border-bottom: 1px solid #E5E5E5;
  }
  .page-footer{
    border-top: 3px solid #E5E5E5;
  }
  .container{
    padding: 0 15px;
  }
  .page-content .container{
    padding-left: 15px;
  }
  .top-logo {
        width: 170px;
    height: 50px;
    margin-left: -85px;
    top: 6px;
    display: block;}
  .menu-btn {
    margin-right: 0; }
  .menu-mobile {
    top: 60px;
    height: -webkit-calc(100% - 60px);
    height: calc(100% - 60px); }
  .page-search__submit {
    background: #87BC26 url(../img/content/search-w.png) center no-repeat;
    display: inline-block;
    text-indent: -9999em;
        width: 48px;
        border-top-left-radius: 0px!important;
      border-bottom-left-radius: 0px!important;
  }
  .search input[type="submit"]{
    background: #87BC26 url(../img/content/search-w.png) center no-repeat!important;
  }
  .page-search__input {
    padding: 0 110px 0 50px;
  }
    .enter__form {
    padding: 0 20px 24px;
    max-width: 100%;}
  .page-search__toggle {
        right: 48px;
    width: 48px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px; }
  .page-aside .content-item {
    width: 50%;
  }
  .contents-toggle-link,
  .filters-toggle-link{
    float: none;
    background: #F7F7F7;
    padding: 3px;
    text-align: center;
    border:1px solid #E5E5E5;
    &.active{
      background: #fff;
    }
  }
  .contents-toggle-link{
    border-left: 1px solid transparent!important;
  }
  .item--contents,
  .item--filters{
    border-top: 0;
        padding: 20px 15px 25px 15px;
  }
  .page-aside{
    margin-bottom: 0;
    box-shadow:none;
  }
  .document{
        padding: 15px 0;
  }
  .document__item{
    padding-left: 0;
  }
  .document__links {
    position: static;
    margin-bottom: 10px;
  }
  .item--contents {
    left: auto;
    right: 0;
    width: 200%;
    transform: none;
  }
  .item--filters {
    left: 0;
    width: 200%;
    transform: none;
  }
  .page-aside--filter{
        right: 0;
    margin-top: 79px;
    width: 100%;
    padding: 0 15px;
  }
  .search-form{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .remove__txt{
    display: none;
  }
  .remove__icon{
    display: block;
  }
  .add-remind__txt{
    display: none;
  }
  .add-item--date {
    max-width: 100%;
  }
  .enter__item--double {
      margin-right: 0;
  }
  .enter__half {
    width: 100%;
    padding-right: 0;
    float: none;
  }
  .enter__half{
    margin-bottom: 10px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .payer-link {
    float: none;
    display: block;
    margin: 5px 0;
  }
  .save, .question-link {
    float: none;
    margin: 10px 0;
  }
  .question-wrap {
      margin-bottom: 30px;
  }
  .page-gen{
    .content-item{
      box-shadow: none;
    }
  }
  .page-aside--document{
    width: calc(100% + 30px);
    margin: 0 -15px;
  }
  .document-form-links{
    padding: 10px 0;
  }
  .search .page-search__form input[type="text"],
  .search .page-search__form input[type="email"],
  .search .page-search__form input[type="password"] {
      padding: 0 110px 0 50px;
  }
  .search{
    padding: 30px 0 0;
  }
  .search-list {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
  }
  .question-list{
    box-shadow:none;
  }
  .cabinet-conditions{
    padding-right: 0;
    padding-bottom: 0;
  }
  .cabinet-save-mobile{
    position: static;
    display: block;
    margin-top: 20px;
    text-align: right;
    input[type="submit"]{
      display: inline-block;
      width: auto;
    }
  }
  .title-l{
    display: block;
    width: 100%;
  }
  .cabinet-add{
    display: block;
  }
  .cabinet-form__items{
    max-width: 100%;
  }
  .control {
    box-shadow: none;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    .item--title{
      input[type="submit"]{
        display: none;
      }
    }
  }
  .control__links{
    margin-bottom: 20px;
  }
  .notification-save-mobile{
    display: block;
  }
  .page-gen{
    overflow: visible;
  }
  .remove {
    padding: 7px 13px;
  }
  .control>.item--title{
        padding: 20px 0 5px 0px;
  }
  .item--settings{
    padding: 47px 8px 2px 8px;
    position: relative;
    .remove {
        float: none;
        display: inline-block;
        position: absolute;
        right: 0;
        top: 15px;
    }
  }
  .add-remind {
    display: inline-block;
    margin-left: 0;
    position: absolute;
    top: 15px;
    left: 6px;
  }
  .comments{
    margin-bottom: 0;
    box-shadow:none;
    border-radius: 0;
  }
  .enter__item--mobile-hight{
    textarea{
      height: 63px;
    }
  }
  .save{
    width: 100%;
  }
}


// @media screen and (max-width: 400px){
//   .page-aside--filter{
//     width: 290px;
//   }
// }