/*MIXINS*/
@mixin border-radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition ($prop: all, $time: 0.3s, $ease: linear) {
    -webkit-transition: $prop $time $ease;
    -moz-transition: $prop $time $ease;
    -o-transition: $prop $time $ease;
    -ms-transition: $prop $time $ease;
    transition: $prop $time $ease;
}

@mixin transform($deg:10deg){
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin box-shadow ($string) {
	-webkit-box-shadow: $string;
	-moz-box-shadow:    $string;
	box-shadow:         $string;
}

@mixin text-shadow ($t-string) {
	-webkit-box-shadow: $t-string;
	-moz-box-shadow:    $t-string;
	box-shadow:         $t-string;
}

@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}


/*FONT-FAMILY*/
$default-font: 'trebuchetms', Arial, sans-serif;

/*FONT-SIZE*/
$default-size-font: 14px;

/*BACKGROUND*/
$default-bg-color: #ffffff;

/*TEXT-COLOR*/
$base-color: #000000;



// .container{
// 	border: 1px solid red;
// }
